{% extends 'admin/layout.html' %}
{% block style %}
{% endblock %}

{% block page_title %}文章写作{% endblock %}

{% block page_title_detail %}新建文章{% endblock %}

{% block bread_second %}
    <a href="#">博客管理</a>
    <i class="fa fa-angle-right"></i>
{% endblock %}

{% block bread_third %}
    <a href="#">文章创作</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i> 文章写作 - <span class="step-title">
								 1 / 2 </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal" id="submit_form" method="POST" novalidate="novalidate">
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li class="active">
                                        <a href="#tab1" data-toggle="tab" class="step" aria-expanded="true">
                                            <span class="number"> 1 </span>
                                            <span class="desc">
                                            <i class="fa fa-check"></i> 基本信息 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number">2 </span>
                                            <span class="desc">
                                            <i class="fa fa-check"></i> 写作文章 </span>
                                        </a>
                                    </li>

                                </ul>
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                                </div>
                                <div class="tab-content">
                                    <div class="alert alert-danger display-none">
                                        <button class="close" data-dismiss="alert"></button>
                                        填写信息有错误，请检查修改后继续
                                    </div>
                                    <div class="alert alert-success display-none">
                                        <button class="close" data-dismiss="alert"></button>
                                        信息验证通过
                                    </div>
                                    <div class="tab-pane active" id="tab1">
                                        <h3 class="block">请填写文章基本信息</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                标题<span class="required" aria-required="true">* </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" name="title" placeholder="文章标题">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">摘要
                                                <span class="required" aria-required="true">* </span>
                                            </label>
                                            <div class="col-md-6">
                                                <textarea name="summary" id="" cols="30" rows="5" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">类别</label>
                                            <div class="col-md-6">
                                                <select class="form-control" name="posts_category">
                                                    <option value="AL">Alabama</option>
                                                    <option value="WY">Wyoming</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">是否发布
                                                <span class="required" aria-required="true">* </span>
                                            </label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" name="email">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a href="javascript:;" class="btn default button-previous disabled"
                                           style="display: none;">
                                            <i class="m-icon-swapleft"></i> Back </a>
                                        <a href="javascript:;" class="btn blue-hoki button-next">
                                            Continue <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <a href="javascript:;" class="btn green button-submit" style="display: none;">
                                            Submit <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}